
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActionName</title>
</head>
<body>
    <div> 
        <p>The Controller Name is:@ViewBag.Controller . </p>
        <p>The Actione Name is:@ViewBag.Action .</p>
    </div>
</body>
</html>
