@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min-3.3.7.css" rel="stylesheet" />
    <title>Index1</title>
</head>
<body>
    <div class="panel panel-default"> 
        <div class="panel-heading">
            <h1 class="panel-title">测试</h1>
        </div>
        <div>
            @Model.Name
            @ViewBag.Ge
        </div>
    </div>
</body>
</html>
